* {
    font-family: Georgia, serif;
}

body {
    background-color: #001524;
}

p {
    color: #FFECD1
}

div {
    text-align: center;
}

h1 {
    font-style: italic;
    font-size: xx-large;
    color: #FFECD1
}

h2 {
    font-size: large;
    color: #FFECD1
}

label {
    color: #FFECD1
}
html, body { height: 100%; }
body { margin: 0; font-family: Georgia, serif; }
